*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is.
  // If this is set to 62.5, then rem = px divided by 10.
  font-size: 62.5%;
}

body {
  padding: 30px;
}