.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: $color-box-shadow;
  transition: transform 0.3s;

  @include respond(tab-portrait) {
    padding: 2rem;
  }

  &__icon {
    display: -webkit-inline-box;

    @include respond(tab-portrait) {
      margin: 0;
    }
  }
  &__text {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }
}
